/* Header */
#header {
    background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.05) 25%, transparent 55%);
    background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.05) 25%, transparent 55%);
    background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.05) 25%, transparent 55%);
    background-image: radial-gradient(rgba(0, 0, 0, 0.05) 25%, transparent 55%); }